* {
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
p,
li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.secondary {
    background-color: whitesmoke;
    padding: 50px 0px;
}

.secondary .grid_item,
main .grid_item {
    text-align: left;
    background-color: white;
    border-radius: 10px;
    padding: 50px 20px;
    margin: 10px 50px;
    box-shadow: 0px 0px 10px -3px lightgray;
}