.about-page{
    .hero{
        color: var(--e-global-color-astglobalcolor3);
        background-color: var(--e-global-color-astglobalcolor5);
        padding: 8rem 0;
        .hero-content{
            h1{
                font-size: 12rem;
                text-transform: uppercase;
            }

            .about{
                text-align: start;
                .about-body{
                    .title{
                        .note{
                            border: 1px solid var(--e-global-color-astglobalcolor5);
                        }
                        h1{
                            font-size: 5rem;
                            text-transform: initial;
                        }
                    }
                    button{
                        padding: 5px 12px;
                        font-size: 18px;
                        background-color: var(--e-global-color-astglobalcolor0);
                        color: var(--e-global-color-astglobalcolor5);
                        border: none;
                        border-radius: 20px;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        &:hover{
                            background-color: var(--e-global-color-astglobalcolor1);
                        }
                    }

                }
            }

        }
    }
    .note{
        position: relative;
        border: 0.1px solid var(--e-global-color-astglobalcolor3);
        padding: 4px 0px;
        padding-left: 22px;
        border-radius: 20px;
        p{
            margin: 0px;
            text-transform: uppercase;
            font-size: 14px;
            padding-right: 7px;
        }::before{
            content: " ";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            left: 3%;
            top: 29%;
            position: absolute;
            background-color: var(--e-global-color-astglobalcolor0);
        }
    
    }
    .process{
        background-color: var(--e-global-color-astglobalcolor3);
        .process-body{
            padding: 8rem 0;
            .title{
                .note{
                    border: 1px solid var(--e-global-color-astglobalcolor5);
                }
                h1{
                    font-size: 4.5rem;
                }
            } 
            .right{
                .process-steps{
                    .step{
                    border-bottom: 1px solid var(--e-global-color-astglobalcolor7);
                        .step-info{
                            h2{
                                font-size: 2rem;
                                
                            }
                            p{
                                font-size: 1rem;
                                color: var(--e-global-color-astglobalcolor6);
                            }
                        }
                    }
                }
            }
        }
    }

        .offers{
        background-color: var(--e-global-color-astglobalcolor5);
        .offers-body{
            padding: 8rem 0;
            .title{
                width: 60%;
                .note{
                    color: var(--e-global-color-astglobalcolor3);
                }
                h1{
                    font-size: 4.5rem;
                    color: var(--e-global-color-astglobalcolor3);
                }
            }
            .offers-cards{
                .offer-card{
                    width: 23%;
                    border-radius: 10px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        transition: all 0.3s ease;
                        &:hover{
                            cursor: pointer;
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}